/*btn loading*/
.btn-loading {
    padding: 10px;
    position: relative;
    min-height: 38px;

    &:after {
        content: '';
        display: block;
        width: 1.2em;
        height: 1.2em;
        position: absolute;
        left: calc(50% - 0.75em);
        top: calc(50% - 0.60em);
        border: 0.15em solid transparent;
        border-right-color: #000;
        border-radius: 50%;
        animation: button-anim 0.7s linear infinite;
        opacity: 1;
    }
}


/*for button loading*/
@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}


.w-100px {
    width: 100px;
}


.page-no-data-text {
    width: 100%;
    text-align: center;
    padding: 150px 0;

    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #000;
    }

    span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #8d8d8d;
    }
}


.checkbox-wrap {
    width: 50px;
}


.table {
    thead {
        tr {
            th {
                vertical-align: middle;
            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;

                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                .img-wrap {
                    width: 100px;
                    height: 50px;
                    border-radius: 10px;
                    overflow: hidden;

                    &.no-image {
                        background-color: #eee;
                    }

                    &.has-image {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .option-btn {
                    cursor: pointer;

                    .dropdown-wrapper {
                        opacity: 0;
                        visibility: hidden;
                        right: 10px;
                        text-align: center;
                        top: 50px;
                        position: absolute;
                        width: 150px;
                        height: auto;
                        background-color: #fff;
                        padding: 10px;
                        border-radius: 8px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, .2), 2px 3px 4px rgba(0, 0, 0, .3);
                        z-index: 1;
                        transition: .3s all ease-in-out;

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            li {
                                a {

                                    padding: 13px 20px;
                                    display: block;
                                    text-decoration: none;
                                    color: #000000;
                                    font-size: 14px;
                                    transition: .3s all ease-in-out;
                                    border-radius: 8px;
                                    text-align: left;

                                    &:hover {
                                        transition: .3s all ease-in-out;
                                        background-color: #eee;
                                    }
                                }
                            }
                        }

                        &.active {
                            opacity: 1;
                            visibility: visible;
                            transition: .3s all ease-in-out;
                        }
                    }
                }
            }
        }
    }
}


/*pagination*/
.pagination {
    .page-item {
        float: left;
        margin-right: 10px;
        @media screen and (max-width: 991px) {
            margin: 0 3px !important;
        }

        &.active {
            .page-link {
                background: #E9EEF4;
            }
        }

        .page-link {
            min-width: 36px;
            width: 100%;
            color: #000;
            border: 1px solid #E9EEF4;
        }
    }
}


.list-card {
    .card-body {
        height: 60vh;
        overflow: auto;
    }
}


.brand-wrap {
    .remove-icon {
        cursor: pointer;
        margin-top: 10px;
        //position: absolute;
        width: 30px;
        bottom: -40px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        &:hover {
            background-color: #eee;

        }
    }

    .branding-logo-wrap {
        max-width: 300px;
        height: 150px;
        overflow: hidden;

        .logo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    }
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #eee;
}

.vh-75 {
    height: 75vh;
}


.btn-outline-dark {
    &.btn-loading {
        &:hover {
            &:after {
                border-right-color: #fff;
            }
        }
    }
}

.h-45 {
    height: 45px;
}

.page-header {
    .form-group {
        .form-control {
            padding-left: 50px;
            width: 380px;
            font-size: 14px;
            font-weight: 400;
            height: 45px;
            @media screen and (max-width: 767px) {
                width: 280px;
            }
            @media screen and (max-width: 576px) {
                width: 220px;
            }
            @media screen and (max-width: 400px) {
                width: 180px;
                padding-left: 40px;
            }
        }

        .search-icon {
            top: 17px;
            left: 26px;
            position: absolute;
            @media screen and (max-width: 400px) {
                left: 16px;
            }
        }
    }
}


.router-link-exact-active {
    font-weight: 500;
}


.error-report {
    font-size: 12px;
}


mark {
    padding-left: 0;
    padding-right: 0;
}

.cursor-pointer{
    cursor: pointer;
}
